#create-box {
  width: 90%;
  margin: auto;
  font-size: 2em;
}

#create-box-participants {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#create-box-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5em;
}

#create-box-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#create-box-submit-button {
  padding: 0.5em;
  font-size: 0.6em;
}

.create-box-input {
  font-size: 0.7em;
  padding: 0.3em;
  margin-bottom: 0.5em;
}

.create-box-section label {
  padding-bottom: 0.2em;
}
